/* web page style */
body {
    background-color:bisque;
    background-color: rgba(187, 187, 187, 0.666);
    background-color: rgba(255, 176, 29, 0.844);
}

/* bon appetit style settings */
#title {
    text-align:center;
    font-family:Dancing Script;
    font-size:26px;
}

/* placement and position settings for gif */
#animation {
    position:relative;
    height:200px; 
}

/* positioning for "Quote of the day" */
#quotetitle {
    text-align:center;
    margin-top:15px;
}

/* style settings for quotetitle */
#quoteset {
    font-size:24px;
    font-family: DM Serif Text;
    transition: opacity 1s ease-in-out;
}

/* style settings for the displayed quotes */
#quotecontainer {
    height: 50px;
    overflow: hidden;
    font-style: italic;
    position:relative;
}
  
/* placement and animation settings for quote */
#quote {
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Smooth fade effect */
    font-size: 18px;
    color: black 
}

/* position and placement of home button */
#buttonsettings {
    text-align:center;
 
}

/* style and animation settings for button */
#mybutton {
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 16px;
    font-family: Rakka;
    /*border-color:bisque;
    border-color:rgba(255, 176, 29, 0.844);*/
    border: none;
    box-shadow: inset 1px 1px 5px 1px #828282;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}